---
layout: archive
title: "Publications &#128221;"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on my <a href="{{site.author.googlescholar}}">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}
<br>
<p>† indicates co-first author, and * indicates corresponding author.</p>

<p align = "justify"> 
<ol reversed>

<li> <strong>Boyu Ma</strong>†*, Jiaxiao Shi†, Yiming Ji & Zhengpu Wang, 2025. Ecological Cycle Optimizer: A novel nature-inspired metaheuristic algorithm for global optimization. <em>ArXiv</em></span>. [<a href="https://arxiv.org/abs/2508.20458" target="_blank" rel="noopener noreferrer">Link</a>] [<a href="https://www.mathworks.com/matlabcentral/fileexchange/180852-ecological-cycle-optimizer-eco" target="_blank" rel="noopener noreferrer">Code</a>]</li>

<li> <strong>Boyu Ma</strong>, Zongwu Xie*, Zainan Jiang*, Yang Liu, Yiming Ji, Baoshi Cao, Zhengpu Wang & Hong Liu, 2025. Robotic redundancy via arm angle self-adaptation through nullspace resolution: Offset poses a challenge. <span style="color:#FFA500;"><em>The International Journal of Robotics Research (IJRR)</em></span>. [<a href="https://doi.org/10.1177/02783649251371735" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Xiaokai Zhou†, <strong>Boyu Ma</strong>†, Baoshi Cao*, Yang Liu, Wandong Sun, Jianfei Yang & Zongwu Xie, 2025. Achieving safety-aware and efficient robot motion via dynamic task-scaling: From the null-space control perspective. <em>IEEE Transactions on Industrial Electronics (TIE)</em>. [<a href="https://doi.org/10.1109/TIE.2025.3610739" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Zongwu Xie, Yiming Ji, Yang Liu*, Yiqian Xie, Zhengpu Wang, <strong>Boyu Ma</strong> & Baoshi Cao, 2025. DiffRP: Diffusion-driven promising region prediction for sampling-based path planning. <em>IEEE Robotics and Automation Letters (RAL)</em></span>, 10(10): 10753-10760. [<a href="https://doi.org/10.1109/LRA.2025.3604747" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Zongwu Xie, Mengfei Li, Wandong Sun, Baoshi Cao, Yang Liu*, Zhengpu Wang, Yiming Ji, Hong Liu, <strong>Boyu Ma</strong> & Zhihong Wu, 2025. Enhancing safety and manipulability of redundant manipulators: Accelerated motion generation in dynamic environments. <em>IEEE Robotics and Automation Letters (RAL)</em>, 10(9): 8642-8649. [<a href="https://doi.org/10.1109/LRA.2025.3579633" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li> Yuntao Li, Zichun Xu, Zhiyuan Zhao, Lei Zhuang, Xiaohang Yang, <strong>Boyu Ma</strong>, Jingdong Zhao* & Hong Liu, 2025. On-orbit assembly control based on model predictive control and load online identification. <em>Advances in Space Research</em>, 76(1): 533-550. [<a href="https://doi.org/10.1016/j.asr.2025.04.068" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li> Yiming Ji, Yang Liu*, Guanghu Xie, <strong>Boyu Ma</strong>, Zongwu Xie & Baoshi Cao, 2025. NNPP: A learning-based heuristic model for accelerating optimal path planning on uneven terrain. <em>Robotics and Autonomous Systems (RAS)</em>, 193: 105084. [<a href="https://doi.org/10.1016/j.robot.2025.105084" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li> Zongwu Xie†, Zhengpu Wang†, Baoshi Cao*, Yang Liu, Wandong Sun, Guanghu Xie, Yiming Ji & <strong>Boyu Ma</strong>*, 2025. Motion generation around obstacles: A multidimensional sampling-based planner. <em>IEEE Transactions on Industrial Electronics (TIE)</em>, 72(9): 9314-9322. [<a href="https://doi.org/10.1109/TIE.2025.3539387" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Zongwu Xie†, Wandong Sun†, Baoshi Cao*, Yang Liu, Zhengpu Wang, Hong Liu & <strong>Boyu Ma</strong>*, 2024. A general collision-free scheme for redundant manipulators. in <em>Proceedings of 2024 International Conference on Intelligent Robotics and Applications (ICIRA)</em>, Xi'an, China, 31-44. [<a href="https://doi.org/10.1007/978-981-96-0795-2_3" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li> <strong>Boyu Ma</strong>, Chunyu Zhou, Yang Liu*, Baoshan Niu, Feiyang Wen, Sijiang Liu & Zongwu Xie, 2024. A comprehensive derivation of quintic spline interpolation and its applications to 3-D collision-free trajectory generation. in <em>Proceedings of 2024 IEEE International Conference on Real-time Computing and Robotics (RCAR)</em>, Ålesund, Norway, 304-310. [<a href="https://doi.org/10.1109/RCAR61438.2024.10670871" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li> Handong Hu, Zongwu Xie*, Yiwei Liu, Chuangqiang Guo, <strong>Boyu Ma</strong>, Yang Liu* & Hong Liu, 2024. Force sensing strategy for the antagonistic variable stiffness hand. <em>IEEE Sensors Journal</em>, 24(21): 34100-34106. [<a href="https://doi.org/10.1109/JSEN.2024.3459947" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Baoshan Niu, Dapeng Yang*, Tao Geng, Le Zhang, <strong>Boyu Ma</strong>, Qi Huang & Hong Liu, 2024. Dynamic arm impedance regulation: Experiences from medical ultrasound scanning experts. <em>IEEE Transactions on Instrumentation and Measurement (TIM)</em>, 73: 7506210. [<a href="https://doi.org/10.1109/TIM.2024.3428622" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Zongwu Xie*, Yiming Ji, Yang Liu & <strong>Boyu Ma</strong>, 2024. Traversability analysis for autonomous planetary exploration rovers: A learning⁃based approach. <em>Manned Spaceflight</em>, 30(5): 659-665. (in Chinese) [<a href="https://qikan.cqvip.com/Qikan/Article/Detail?id=7113276608" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Yiming Ji, Yang Liu*, Guanghu Xie, <strong>Boyu Ma</strong>, Zongwu Xie & Hong Liu, 2024. NEDS-SLAM: A neural explicit dense semantic slam framework using 3D gaussian splatting. <em>IEEE Robotics and Automation Letters (RAL)</em>, 9(10): 8778-8785. [<a href="https://doi.org/10.1109/LRA.2024.3451390" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Xiaohang Yang, Zhiyuan Zhao, <strong>Boyu Ma</strong>, Zichun Xu, Jingdong Zhao* & Hong Liu, 2024. Kinematic and dynamic manipulability optimizations of redundant manipulators based on RNN model. <em> IEEE Transactions on Industrial Informatics (TII)</em>, 20(4): 5763-5773. [<a href="https://doi.org/10.1109/TII.2023.3334305" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Zongwu Xie*, <strong>Boyu Ma</strong>, Wandong Sun, Xiaohang Yang, Yiming Ji & Guanghu Xie, 2024. Collision-free trajectory planning for robotic agents based on metaheuristic optimization. <em>Manned Spaceflight</em>, 30(4): 510-515. (in Chinese) [<a href="https://www.cmse.gov.cn/dmt/cbw/zrht/2024nian/2024dsq/202408/t20240827_55723.html" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Xiaohang Yang, <strong>Boyu Ma</strong>, Zhiyuan Zhao, Jingdong Zhao* & Hong Liu, 2024. A kinematics control scheme of redundant manipulators under unknown loads or external forces. <em>IEEE Transactions on Systems, Man, and Cybernetics: Systems (TSMC)</em>, 54(8): 5048-5060. [<a href="https://doi.org/10.1109/TSMC.2024.3390235" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> <strong>Boyu Ma</strong>, Baoshi Cao, Yang Liu*, Yuteng Xie, Xiaohang Yang, Wei Wang, Handong Hu, Xiaokai Zhou, Yiming Ji, Zhengpu Wang, Mengfei Li, Haoran Sun, Wandong Sun & Zongwu Xie, 2023. A trajectory planning framework for Experimental Module Manipulator on-orbit servicing. in <em>Proceedings of 2023 IEEE International Conference on Robotics and Biomimetics (ROBIO)</em>, Koh Samui, Thailand. [<a href="https://doi.org/10.1109/ROBIO58561.2023.10354729" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li> Zhengpu Wang, Baoshi Cao*, Zongwu Xie, <strong>Boyu Ma</strong>, Kui Sun & Yang Liu, 2023.  Kinematic calibration of a space manipulator based on visual measurement system with Extended Kalman Filter. <em>Machines</em>, 11(3): 409. [<a href="https://doi.org/10.3390/machines11030409" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Bowen Zhan, Minghe Jin*, <strong>Boyu Ma</strong> & Bincheng Huang, 2023. Detumbling motion planning for the space manipulator with grasped targets and flexible appendages in the post-capturing phase. <em>Proceedings of the Institution of Mechanical Engineers, Part G：Journal of Aerospace Engineering</em>, 5: 1158-1173. [<a href="https://doi.org/10.1177/09544100221118210" target="_blank" rel="noopener noreferrer">Link</a>]</li>
 
<li> Zongwu Xie, <strong>Boyu Ma</strong>, Zainan Jiang* & Yang Liu, 2023. Research on virtual camera imaging technology for space manipulator teleoperation. <em>Journal of Harbin Engineering University</em>, 44(4): 631-638. (in Chinese) [<a href="https://heuxb.hrbeu.edu.cn/#/digest?ArticleID=4185" target="_blank" rel="noopener noreferrer">Link</a>]</li> 

<li> <strong>Boyu Ma</strong>, Zainan Jiang*, Yang Liu & Zongwu Xie, 2023. Advances in space robots for on-orbit servicing: A comprehensive review. <em>Advanced Intelligent Systems (AISY)</em>, 5(8): 2200397. <span style="color:#FFA500;">Both the Wiley Top-Cited and Top-Viewed Awards</span>
 [<a href="https://doi.org/10.1002/aisy.202200397" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> <strong>Boyu Ma</strong>, Zongwu Xie, Bowen Zhan, Zainan Jiang, Yang Liu* & Hong Liu, 2023. Actual shape-based obstacle avoidance synthesized by velocity–acceleration minimization for redundant manipulators: An optimization perspective. <em>IEEE Transactions on Systems, Man, and Cybernetics: Systems (TSMC)</em>, 53(10): 6460-6474. [<a href="https://doi.org/10.1109/TSMC.2023.3283266" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> <strong>Boyu Ma</strong>, Zongwu Xie, Xiaohang Yang, Yang Liu, Zhengpu Wang & Zainan Jiang*, 2023. Neurodynamics-based configuration transformation with engineering application to robot manipulators using two intelligent approaches. <em>Engineering Applications of Artificial Intelligence (EAAI)</em>, 120: 105861. [<a href="https://doi.org/10.1016/j.engappai.2023.105861" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> <strong>Boyu Ma</strong>, Zongwu Xie, Zainan Jiang*, Yang Liu & Zhengpu Wang, 2022. An efficient inverse kinematic strategy for the 7-DOF offset space manipulator with arm angle parameterization. in <em>Proceedings of 2022 IEEE International Conference on Mechatronics and Automation (ICMA)</em>, Guilin, China, 1732-1737. [<a href="https://doi.org/10.1109/ICMA54519.2022.9856247" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Yaowen Zhang, Yechao Liu*, Baoshi Cao, Yang Liu, <strong>Boyu Ma</strong> & Zongwu Xie, 2021. Joint limit optimal inverse kinematics of the 7-DoF manipulator with link offset based on semi-analytical solution. in <em>Proceedings of 2021 IEEE International Conference on Robotics and Biomimetics (ROBIO)</em>, Sanya, China, 483-489. [<a href="https://doi.org/10.1109/ROBIO54168.2021.9739314" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> <strong>Boyu Ma</strong>, Zongwu Xie, Zainan Jiang* & Hong Liu, 2021. Precise semi-analytical inverse kinematic solution for 7-DOF offset manipulator with arm angle optimization. <em>Frontiers of Mechanical Engineering (FME)</em>, 16(3): 435-450. [<a href="https://doi.org/10.1007/s11465-021-0630-x" target="_blank" rel="noopener noreferrer">Link</a>]</li>

</ol>


<br>

<h2>Editorial Service</h2>
<li><strong>Early-Career Editorial Board Member</strong> for <em>Robot Learning</em>
<li><strong>Guest Editor</strong> for <em>Applied System Innovation</em><br>
  <span style="margin-left: 1em;">Special Issue: Intelligent Robotics for Precision Medicine and Advanced Manufacturing</span>
<br>

<h2>Review Activities</h2>

<div class="wordwrap">Reviewer with 150+ peer reviews for more than 10 international journals and conferences</a>.</div>

<li>IEEE Transactions on Cybernetics (TCYB)
<li>IEEE Transactions on Industrial Informatics (TII)
<li>IEEE Transactions on Industrial Electronics (TIE)
<li>IEEE Transactions on Systems, Man, and Cybernetics (TSMC)
<li>IEEE Transactions on Automation Science and Engineering (TASE)
<li>IEEE/CAA Journal of Automatica Sinica (JAS)
<li>Engineering Applications of Artificial Intelligence (EAAI)
<li>Cyborg and Bionic Systems (CBS)
<li>Frontiers in Neurorobotics
<li>Nonlinear Dynamics
<li>The Journal of Supercomputing
<li>Proceedings of the Institution of Mechanical Engineers, Part D: Journal of Automobile Engineering
<li>IEEE International Conference on Control and Automation (ICCA)
<li>International Conference on System Theory, Control and Computing (ICSTCC)
<li>......
  
  
</p> 



