---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<p align = "justify"> 
<h2>Journal articles</h2>
<ol reversed>



  
<li> <strong>Boyu Ma</strong>, Zongwu Xie*, Zainan Jiang*, Yang Liu, Yiming Ji, Baoshi Cao, Zhengpu Wang & Hong Liu, 2025. Robotic redundancy via arm angle self-adaptation through nullspace resolution: Offset poses a challenge. <span style="color: red;"><em>The International Journal of Robotics Research (IJRR)</em></span>. </li>

<li> Zongwu Xie, Mengfei Li, Wandong Sun, Baoshi Cao, Yang Liu*, Zhengpu Wang, Yiming Ji, Hong Liu, <strong>Boyu Ma</strong> & Zhihong Wu, 2025. Enhancing safety and manipulability of redundant manipulators: Accelerated motion generation in dynamic environments. <em>IEEE Robotics and Automation Letters (RAL)</em>. [<a href="https://doi.org/10.1109/LRA.2025.3579633" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li> Yuntao Li, Zichun Xu, Zhiyuan Zhao, Lei Zhuang, Xiaohang Yang, <strong>Boyu Ma</strong>, Jingdong Zhao* & Hong Liu, 2025. On-orbit assembly control based on model predictive control and load online identification. <em>Advances in Space Research</em>, 76(1): 533-550. [<a href="https://doi.org/10.1016/j.asr.2025.04.068" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li> Yiming Ji, Yang Liu*, Guanghu Xie, <strong>Boyu Ma</strong>, Zongwu Xie & Baoshi Cao, 2025. NNPP: A learning-based heuristic model for accelerating optimal path planning on uneven terrain. <em>Robotics and Autonomous Systems (RAS)</em>, 193: 105084. [<a href="https://doi.org/10.1016/j.robot.2025.105084" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li> Zongwu Xie†, Zhengpu Wang†, Baoshi Cao*, Yang Liu, Wandong Sun, Guanghu Xie, Yiming Ji & <strong>Boyu Ma</strong>*, 2025. Motion generation around obstacles: A multidimensional sampling-based planner. <em>IEEE Transactions on Industrial Electronics (TIE)</em>. [<a href="https://doi.org/10.1109/TIE.2025.3539387" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li> Handong Hu, Zongwu Xie*, Yiwei Liu, Chuangqiang Guo, <strong>Boyu Ma</strong>, Yang Liu* & Hong Liu, 2024. Force sensing strategy for the antagonistic variable stiffness hand. <em>IEEE Sensors Journal</em>, 24(21): 34100-34106. [<a href="https://doi.org/10.1109/JSEN.2024.3459947" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Baoshan Niu, Dapeng Yang*, Tao Geng, Le Zhang, <strong>Boyu Ma</strong>, Qi Huang & Hong Liu, 2024. Dynamic arm impedance regulation: Experiences from medical ultrasound scanning experts. <em>IEEE Transactions on Instrumentation and Measurement (TIM)</em>, 73: 7506210. [<a href="https://doi.org/10.1109/TIM.2024.3428622" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Zongwu Xie*, Yiming Ji, Yang Liu & <strong>Boyu Ma</strong>, 2024. Traversability analysis for autonomous planetary exploration rovers:A learning⁃based approach. <em>Manned Spaceflight</em>, 30(5): 659-665. (in Chinese) [<a href="https://qikan.cqvip.com/Qikan/Article/Detail?id=7113276608" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Yiming Ji, Yang Liu*, Guanghu Xie, <strong>Boyu Ma</strong>, Zongwu Xie & Hong Liu, 2024. NEDS-SLAM: A neural explicit dense semantic slam framework using 3d gaussian splatting. <em>IEEE Robotics and Automation Letters (RAL)</em>, 9(10): 8778-8785. [<a href="https://doi.org/10.1109/LRA.2024.3451390" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Xiaohang Yang, Zhiyuan Zhao, <strong>Boyu Ma</strong>, Zichun Xu, Jingdong Zhao* & Hong Liu, 2024. Kinematic and dynamic manipulability optimizations of redundant manipulators based on RNN model. <em> IEEE Transactions on Industrial Informatics (TII)</em>, 20(4): 5763-5773. [<a href="https://doi.org/10.1109/TII.2023.3334305" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Zongwu Xie*, <strong>Boyu Ma</strong>, Wandong Sun, Xiaohang Yang, Yiming Ji & Guanghu Xie, 2024. Collision-free trajectory planning for robotic agents based on metaheuristic optimization. <em>Manned Spaceflight</em>, 30(4): 510-515. (in Chinese) [<a href="https://www.cmse.gov.cn/dmt/cbw/zrht/2024nian/2024dsq/202408/t20240827_55723.html" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Xiaohang Yang, <strong>Boyu Ma</strong>, Zhiyuan Zhao, Jingdong Zhao* & Hong Liu, 2024. A kinematics control scheme of redundant manipulators under unknown loads or external forces. <em>IEEE Transactions on Systems, Man, and Cybernetics: Systems (TSMC)</em>, 54(8): 5048-5060. [<a href="https://doi.org/10.1109/TSMC.2024.3390235" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li> Zhengpu Wang, Baoshi Cao*, Zongwu Xie, <strong>Boyu Ma</strong>, Kui Sun & Yang Liu, 2023.  Kinematic calibration of a space manipulator based on visual measurement system with Extended Kalman Filter. <em>Machines</em>, 11(3): 409. [<a href="https://doi.org/10.3390/machines11030409" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> Bowen Zhan, Minghe Jin*, <strong>Boyu Ma</strong> & Bincheng Huang, 2023. Detumbling motion planning for the space manipulator with grasped targets and flexible appendages in the post-capturing phase. <em>Proceedings of the Institution of Mechanical Engineers, Part G：Journal of Aerospace Engineering</em>, 5: 1158-1173. [<a href="https://doi.org/10.1177/09544100221118210" target="_blank" rel="noopener noreferrer">Link</a>]</li>
 
<li> Zongwu Xie, <strong>Boyu Ma</strong>, Zainan Jiang* & Yang Liu, 2023. Research on virtual camera imaging technology for space manipulator teleoperation. <em>Journal of Harbin Engineering University</em>, 44(4): 631-638. (in Chinese) [<a href="https://heuxb.hrbeu.edu.cn/#/digest?ArticleID=4185" target="_blank" rel="noopener noreferrer">Link</a>]</li> 

<li> <strong>Boyu Ma</strong>, Zainan Jiang*, Yang Liu & Zongwu Xie, 2023. Advances in space robots for on-orbit servicing: A comprehensive review. <em>Advanced Intelligent Systems (AISY)</em>, 5(8): 2200397. <span style="color: red;">Both the Wiley Top-Cited and Top-Viewed Awards</span>
 [<a href="https://doi.org/10.1002/aisy.202200397" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> <strong>Boyu Ma</strong>, Zongwu Xie, Bowen Zhan, Zainan Jiang, Yang Liu* & Hong Liu, 2023. Actual shape-based obstacle avoidance synthesized by velocity–acceleration minimization for redundant manipulators: An optimization perspective. <em>IEEE Transactions on Systems, Man, and Cybernetics: Systems (TSMC)</em>, 53(10): 6460-6474. [<a href="https://doi.org/10.1016/10.1109/TSMC.2023.3283266" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> <strong>Boyu Ma</strong>, Zongwu Xie, Xiaohang Yang, Yang Liu, Zhengpu Wang & Zainan Jiang*, 2023. Neurodynamics-based configuration transformation with engineering application to robot manipulators using two intelligent approaches. <em>Engineering Applications of Artificial Intelligence (EAAI)</em>, 120: 105861. [<a href="https://doi.org/10.1016/j.engappai.2023.105861" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> <strong>Boyu Ma</strong>, Zongwu Xie, Zainan Jiang* & Hong Liu, 2021. Precise semi-analytical inverse kinematic solution for 7-DOF offset manipulator with arm angle optimization. <em>Frontiers of Mechanical Engineering (FME)</em>, 16(3): 435-450. [<a href="https://doi.org/10.1007/s11465-021-0630-x" target="_blank" rel="noopener noreferrer">Link</a>]</li>

</ol>

<h2>Conference Papers</h2>
<ol reversed>
<li> <strong>Wu, S.</strong>, Thoram, S., Sun, J., Sager, W. W. & Chen, J., 2024. Transforming the interpretation of marine magnetic anomalies through a machine learning-based framework. In AGU (American Geophysical Union) Annual Meeting Abstracts.</li>
<li> <strong>Wu, S.</strong>, Sun, J. & Chen, J., 2024. Fast model uncertainty evaluation of airborne frequency-domain electromagnetic data inversion based on deep learning. In AGU Annual Meeting Abstracts.</li>
<li> Su, Y., <strong>Wu, S.</strong>, Chen, J., Sun, J. & Lu, L., 2024. Identifying natural hydrogen reservoirs through integrated 3D aeromagnetic and gravity data inversion in Bartlett Springs fault zone in north California. In AGU Annual Meeting Abstracts.</li>
<li> Sun, J., <strong>Wu, S.</strong>, Chen, J. & Yin, Z., 2024. Bayesian inference of airborne electromagnetic data based on normalizing flows. In AGU Annual Meeting Abstracts.</li>
<li> Huang, Q., Xue, J. & <strong>Wu, S.</strong>, 2024. Data science and machine learning in geo-electromagnetics. In EM Induction Workshop Abstracts.</li>
<li> <strong>Wu, S.</strong>, Sun, J. & Chen, J., 2024. Stochastic inversion of frequency-domain airborne electromagnetic data based on deep learning. In The International Meeting for Applied Geoscience & Energy Abstracts.</li>
<li> Kalu, D. V., <strong>Wu, S.</strong> & Sun, J., 2024. Empowering mineral exploration: Leveraging invertible neural networks for magnetotelluric data inversion and uncertainty quantification. In The International Meeting for Applied Geoscience & Energy Abstracts.</li>
<li> Bittar, G., Su, Y., <strong>Wu, S.</strong>, Sun, J., Wu, X., Huang, Y. & Chen, J., 2024. Fast inversion and uncertainty quantification of electromagnetic well logging data using invertible neural network. In The International Meeting for Applied Geoscience & Energy Abstracts.</li>
<li> <strong>Wu, S.</strong>, Sun, J. & Chen, J., 2024. Airborne electromagnetic data interpretation with deep learning-based stochastic inversion and posterior distribution clustering with application to salinization detection. In International Workshop on Gravity, Electrical & Magnetic Methods and Their Applications (GEM) Abstracts.</li>
<li> <strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2023. Simultaneous resistivity imaging of airborne electromagnetic data based on deep learning. In JpGU (Japan Geoscience Union) Geoscience Union Meeting Abstracts.</li>
<li> <strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2023. Near real-time subsurface structure imaging using airborne electromagnetic data based on deep learning. In EGU (European Geosciences Union) General Assembly Abstracts.</li>
<li> <strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2022. Near real-time resistivity imaging from airborne electromagnetic data based on deep learning. In CGU (Chinese Geosciences Union) Annual Meeting Abstracts.</li>
<li> <strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2021. 1-D inversion of airborne transient electromagnetic data based on convolutional neural network. In CGU Annual Meeting Abstracts.</li>   
<li> <strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2021. Convolutional neural network inversion of airborne transient electromagnetic data. In CIGEW (China International Geo-Electromagnetic Workshop) Abstracts.</li>
<li> <strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2020. De-noising of transient electromagnetic data based on the LSTM-autoencoder. In CGU Annual Meeting Abstracts.</li>
<li> <strong>Wu, S.</strong> & Huang, Q., 2019. De-noising of transient electromagnetic data based on the LSTM- autoencoder. In CIGEW Abstracts.</li>

</ol>

</p> 



