---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<p align = "justify"> 
<h2>Journal articles</h2>
<ol reversed>

<li> <strong>Boyu Ma</strong>, Zongwu Xie*, Zainan Jiang*, Yang Liu, Yiming Ji, Baoshi Cao, Zhengpu Wang & Hong Liu, 2025. Robotic redundancy via arm angle self-adaptation through nullspace resolution: Offset poses a challenge. <em>The International Journal of Robotics Research (IJRR)</em>. </li>
  
<li> <strong>Boyu Ma</strong>, Zainan Jiang*, Yang Liu & Zongwu Xie, 2023. Advances in space robots for on-orbit servicing: A comprehensive review. <em>Advanced Intelligent Systems (AISY)</em>, 5(8): 2200397. <span style="color: red;">Boyu Ma Both the Wiley Top-Cited and Top-Viewed Awards</span>
 [<a href="https://doi.org/10.1002/aisy.202200397" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li> <strong>Boyu Ma</strong>, Zongwu Xie, Bowen Zhan, Zainan Jiang, Yang Liu* & Hong Liu, 2023. Actual shape-based obstacle avoidance synthesized by velocity–acceleration minimization for redundant manipulators: An optimization perspective. <em>IEEE Transactions on Systems, Man, and Cybernetics: Systems (TSMC)</em>, 53(10): 6460-6474. [<a href="https://doi.org/10.1016/10.1109/TSMC.2023.3283266" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> <strong>Boyu Ma</strong>, Zongwu Xie, Xiaohang Yang, Yang Liu, Zhengpu Wang & Zainan Jiang*, 2023. Neurodynamics-based configuration transformation with engineering application to robot manipulators using two intelligent approaches. <em>Engineering Applications of Artificial Intelligence (EAAI)</em>, 120: 105861. [<a href="https://doi.org/10.1016/j.engappai.2023.105861" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li> <strong>Boyu Ma</strong>, Zongwu Xie, Zainan Jiang* & Hong Liu, 2021. Precise semi-analytical inverse kinematic solution for 7-DOF offset manipulator with arm angle optimization. <em>Frontiers of Mechanical Engineering (FME)</em>, 16(3): 435-450. [<a href="https://doi.org/10.1007/s11465-021-0630-x" target="_blank" rel="noopener noreferrer">Link</a>]</li>

</ol>

<h2>Conference Papers</h2>
<ol reversed>
<li> <strong>Wu, S.</strong>, Thoram, S., Sun, J., Sager, W. W. & Chen, J., 2024. Transforming the interpretation of marine magnetic anomalies through a machine learning-based framework. In AGU (American Geophysical Union) Annual Meeting Abstracts.</li>
<li> <strong>Wu, S.</strong>, Sun, J. & Chen, J., 2024. Fast model uncertainty evaluation of airborne frequency-domain electromagnetic data inversion based on deep learning. In AGU Annual Meeting Abstracts.</li>
<li> Su, Y., <strong>Wu, S.</strong>, Chen, J., Sun, J. & Lu, L., 2024. Identifying natural hydrogen reservoirs through integrated 3D aeromagnetic and gravity data inversion in Bartlett Springs fault zone in north California. In AGU Annual Meeting Abstracts.</li>
<li> Sun, J., <strong>Wu, S.</strong>, Chen, J. & Yin, Z., 2024. Bayesian inference of airborne electromagnetic data based on normalizing flows. In AGU Annual Meeting Abstracts.</li>
<li> Huang, Q., Xue, J. & <strong>Wu, S.</strong>, 2024. Data science and machine learning in geo-electromagnetics. In EM Induction Workshop Abstracts.</li>
<li> <strong>Wu, S.</strong>, Sun, J. & Chen, J., 2024. Stochastic inversion of frequency-domain airborne electromagnetic data based on deep learning. In The International Meeting for Applied Geoscience & Energy Abstracts.</li>
<li> Kalu, D. V., <strong>Wu, S.</strong> & Sun, J., 2024. Empowering mineral exploration: Leveraging invertible neural networks for magnetotelluric data inversion and uncertainty quantification. In The International Meeting for Applied Geoscience & Energy Abstracts.</li>
<li> Bittar, G., Su, Y., <strong>Wu, S.</strong>, Sun, J., Wu, X., Huang, Y. & Chen, J., 2024. Fast inversion and uncertainty quantification of electromagnetic well logging data using invertible neural network. In The International Meeting for Applied Geoscience & Energy Abstracts.</li>
<li> <strong>Wu, S.</strong>, Sun, J. & Chen, J., 2024. Airborne electromagnetic data interpretation with deep learning-based stochastic inversion and posterior distribution clustering with application to salinization detection. In International Workshop on Gravity, Electrical & Magnetic Methods and Their Applications (GEM) Abstracts.</li>
<li> <strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2023. Simultaneous resistivity imaging of airborne electromagnetic data based on deep learning. In JpGU (Japan Geoscience Union) Geoscience Union Meeting Abstracts.</li>
<li> <strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2023. Near real-time subsurface structure imaging using airborne electromagnetic data based on deep learning. In EGU (European Geosciences Union) General Assembly Abstracts.</li>
<li> <strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2022. Near real-time resistivity imaging from airborne electromagnetic data based on deep learning. In CGU (Chinese Geosciences Union) Annual Meeting Abstracts.</li>
<li> <strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2021. 1-D inversion of airborne transient electromagnetic data based on convolutional neural network. In CGU Annual Meeting Abstracts.</li>   
<li> <strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2021. Convolutional neural network inversion of airborne transient electromagnetic data. In CIGEW (China International Geo-Electromagnetic Workshop) Abstracts.</li>
<li> <strong>Wu, S.</strong>, Huang, Q. & Zhao, L., 2020. De-noising of transient electromagnetic data based on the LSTM-autoencoder. In CGU Annual Meeting Abstracts.</li>
<li> <strong>Wu, S.</strong> & Huang, Q., 2019. De-noising of transient electromagnetic data based on the LSTM- autoencoder. In CIGEW Abstracts.</li>

</ol>

</p> 



